body {
  background: #E5E5E5;
}

.header {

}

.logo {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #000000;
}

.menu {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.menu__item {

}

.main-section {

}

.main-content {

}

.main-content__title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 87px;
  display: flex;
  align-items: center;
  color: #000000;
}

.main-content__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.main-content__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.image-content {

}

.image-content__image {
  
}
